* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

/*Itens no geral */
body {
  background-color: black;
}

header {
  background-color: #1c1c1c;
  justify-content: space-between;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
  height: 65px;
}

/* header h1{
  margin-top: 1vw;
} */

p {
  margin: 10px;
  font-size: 15px;
  text-align: justify;
}

a {
  text-decoration: none;
}

button {
  background-color: #000;
  color: #fff;
  font-size: 40px;
  padding: 10px;
  border-radius: 25px;
  border: solid #bd0000;
  margin: 10px;
  align-items: center;
  display: flex;
  width: 350px;
  height: 100px;
}

button:hover {
  background-color: #2c2c2c;
  cursor: pointer;
  box-shadow: 0px 0px 15px red, 0px 0px 15px red inset;
}

img {
  width: 75px;
  margin: 25px;
}

/* footer {
  background-color: #303030;
  text-align: center;
  color: white;
  width: 100%;
  bottom: 0;
} */

nav {
  width: 500px;
  height: fit-content;
  background-color: #2c2c2c;
  text-align: center;
  border-bottom-right-radius: 15px;
}

nav iframe {
  width: 300px;
  height: 300px;
  border: solid #bd0000;
  border-radius: 25px;
}

/* Classes */
.container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.container2 {
  display: flex;
}

.subContainer {
  padding: 10px;
  width: 100vw;
  text-align: center;
  display: grid;
  place-items: center;
}

.imgmusics {
  padding: 5px;
}

.imgmusics img {
  height: 300px;
  width: 300px;
  padding: 3px;
  margin: 5px;
  border: solid #bd0000;
  border-radius: 25px;
  cursor: pointer;
}

.imgmusics img:hover {
  animation: pulse 1.5s infinite;
  box-shadow: 0px 0px 15px red, 0px 0px 15px red inset;
}

/* Ids */
#Euzinho {
  border-radius: 25px;
  border: solid #bd0000;
  width: 300px;
  margin: 25px;
}

#ytbnt {
  border-color: red;
}

#ytbnt:hover {
  box-shadow: 0px 0px 15px red, 0px 0px 15px red inset;
}

#insbnt {
  border-color: #ff00dd;
}

#insbnt:hover {
  box-shadow: 0px 0px 15px #ff00dd, 0px 0px 15px #ff00dd inset;
}

#tikbnt {
  border-color: cyan;

}

#tikbnt:hover {
  box-shadow: 0px 0px 15px cyan, 0px 0px 15px cyan inset;
}

#gitbnt {
  border-color: #fff;
}

#gitbnt:hover {
  box-shadow: 0px 0px 15px white, 0px 0px 15px white inset;
}

#theme {
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 100%;
  background-color: #000;
  margin: 0px;
  padding: 5px;
}

#justbnt {
  width: min-content;
}

#theme img {
  height: 70px;
  width: 70px;
  margin: 0px;
  margin-left: 0px;
}

#theme:hover {
  background-color: #fff;
  box-shadow: 0px 0px 10px yellow, -10px -10px 15px yellow inset;
  cursor: pointer;
}

#box{
  width: 80px;
}

/* sei lá */
@keyframes pulse {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }
}

/* Ajuste para dispositivos móveis */
@media only screen and (max-width: 600px) {
  /* items no geral */
  nav {
    width: auto;
    border-bottom-left-radius: 15px;
  }

  nav iframe {
    width: 75vw;
    height: 75vw;
  }

  header {
    height: 30px;
  }

  header h1 {
    font-size: 20px;
  }

  button {
    width: 330px;
  }

  /*classes*/
  .container2 {
    flex-direction: column;
  }

  .subContainer {
    width: auto;
  }

  /*ids*/
  #theme{
    width: 45px;
    height: 45px;
  }

  #theme img{
    width: 35px;
    height: 35px;
  }

  #box{
    width: 30px;
  }
}