:root {
    --vermelho-vibrante: #bd0000;
    --preto-puro: #000000;
    --cinza-carvao: #1a1a1a;
    --cinza-medio: #666666;
    --cinza-claro: #dddddd;
    --branco-gelo: #f2f2f2;
    --laranja-queimado: #ff6b3d;
    --amarelo-ouro: #ffcc00;
    --vinho-escuro: #4b0000;
    --roxo-escuro: #5e17eb;
    --azul-petroleo: #005f73;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #f2f2f2;
}

body {
    background: linear-gradient(-45deg, #bd0000, #4b0000, #000000, #ff6b3d);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#Euzin {
    height: 300px;
    width: auto;
    border: solid #bd0000;
    border-radius: 50%;
    animation: pulse 5s infinite alternate, sombraOnOff 1s infinite alternate;
}

@keyframes sombraOnOff {
    100% {
        box-shadow: 0 0 25px #bd0000;
    }

    0% {
        box-shadow: none;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 525px;
    flex: 1;
}

.container div {
    margin: 0 10px;
}

.subContainer {
    text-align: center;
}

.subContainer h2 {
    margin: 15px 0;
}

.bnts {
    display: flex;
    flex-direction: column;
}

.bnts a {
    border: solid 2px;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 2.5px 0;
    padding: 10px;
    font-size: 20px;
    width: 300px;
    transition: transform 0.3s ease;
}

.bnts a:hover {
    animation: pulse 0.3s;
    transform: scale(1.05);
}

@keyframes pulse {
    100% {
        transform: scale(1.05);
    }

    0% {
        transform: scale(1);
    }
}

.bnts a img {
    width: 75px;
    height: auto;
    margin: 0 15px;
}

footer {
    background-color: #1a1a1a;
    padding: 5px;
    margin-top: 15px;
    text-align: center;
}

/*! bnts */

#ytbnt {
    border-color: red;
}

#ytbnt:hover {
    box-shadow: red 0 0 10px, red 0 0 10px inset;
}

#spobnt {
    border-color: #1ed760;
}

#spobnt:hover {
    box-shadow: 0px 0px 10px #1ed760, 0px 0px 10px #1ed760 inset;
}

#insbnt {
    border-color: #ff00dd;
}

#insbnt:hover {
    box-shadow: 0px 0px 10px #ff00dd, 0px 0px 10px #ff00dd inset;
}

#tikbnt {
    border-color: cyan;
}

#tikbnt:hover {
    box-shadow: 0px 0px 10px cyan, 0px 0px 10px cyan inset;
}

#gitbnt {
    border-color: #f2f2f2;
}

#gitbnt:hover {
    box-shadow: 0px 0px 10px #f2f2f2, 0px 0px 10px #f2f2f2 inset;
}

/** ajuste mobile */

@media (max-width: 625px) {

    .container {
        height: auto;
        margin-top: 25px;
        flex-direction: column;
    }

}